<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="custom.css">
  <style>
    .pinnable-header {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #eaecf0;
    line-height: 1.6;
    }
    .pinnable-header-label {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5rem;
	margin: 0 0.5rem 0 0 !important;
	padding: 0;
	border: 0;
	font-weight: bold;
    }
    .pinnable-header-toggle-button {
    display: inline-block;
    border: 0;
    padding: 4px 8px;
    background-color: #eaecf0;
    color: #202122;
    cursor: pointer;
    /* text-align: left; */
    font-size: 1.125rem;
    border-radius: 2px;
    }
    #container {
	width: 80%;
	margin: 0 auto;
    }
    @media (max-width: 768px) {
	#container {
	    width: 100%;
	}
	#toggleButton {
	    width: 15%;
	}
    }

    </style>
</head>
<body>
<!--  {% include '_sticky_header.html' %}  -->
<div class="flex-container">
    <div id="sidebar" class="side-column">
    <button id="pinned-toggleButton"></button>
      <div id="mainmenu">
	<div class="pinnable-header">
          <div class="pinnable-header-label">Main Menu</div>
	  <button id="pinnable-header-toggle-button" class="pinnable-header-toggle-button">hide</button>
	  <div id="mainmenu-content">
          <ul>
            <li><a href="#">Home</a></li>
	    <h4>A wiki page of note</h4>
            <a href="#">Massive Wiki Manifesto</a>
	    <h4>General Navigation</h4>
            <li><a href="#">Random Page</a></li>
            <li><a href="#">All Pages</a></li>
            <li><a href="#">Search</a></li>
          </ul>
	  </div>
	</div>
      </div>
    </div>
    <main id="main" class="main-column">
      <article>
	<p><a href="https://worldcat.org/en/title/1369492221">Oreskes and Conway - The Big Myth</a>; Page 11:<br />
&gt; Markets are good for many things, but they are <em>not</em> magic.
Just look around. Income inequality, the opioid crisis, the lack of
affordable housing, retirees who can’t afford to retire, the climate
crisis: markets created problems that our market-based system has failed
to solve. The only proven remedy is governance.</p>
<p>
      </article>
    </main>
  </div>
  <script>
    function checkScreenWidth() {
			var mainmenu = document.getElementById('mainmenu');
				var button = document.getElementById('pinned-toggleButton');
				console.log("mainmenu display: ", mainmenu.style.display);
				console.log("button display: ", button.style.display);
				if (window.innerWidth < 768) {
							mainmenu.style.display = 'none';
							button.textContent = '\u2630'; // Hamburger menu icon
							button.style.display = 'block';
				}
				else {
						mainmenu.style.display = 'block';
						button.style.display = 'none';
				}
		};

    window.addEventListener('resize', checkScreenWidth);

    document.getElementById('pinned-toggleButton').addEventListener('click', function() {
			var mainmenu = document.getElementById('mainmenu');
			var button = document.getElementById('pinned-toggleButton');
			console.log("mainmenu display: ", mainmenu.style.display);
			console.log("button display: ", button.style.display);
      mainmenu.style.display = 'block';
			button.style.display = 'none';
    });
    document.getElementById('pinnable-header-toggle-button').addEventListener('click', function() {
			var mainmenu = document.getElementById('mainmenu');
			var button = document.getElementById('pinned-toggleButton');
			mainmenu.style.display = 'none';
			button.style.display = 'block';
			button.textContent = '\u2630'; // Hamburger menu
    });

    checkScreenWidth();
  </script>
</body>
</html>
